{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Listar Tags | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li class="active" >inicio</li>
  </ol>
  <h1></h1>
  <div class="jumbotron">
    <div class="container">
      <h1>Projects</h1>
      <p>gestiona proyectos, tareas y etiquetas ...</p>
      <p>también disponible por rest</p>
      <p>
        <a class="btn btn-primary btn-lg">Learn more</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'project-list' %}" class="list-group-item">Projects</a>
  <a href="{% url 'tarea-list' %}" class="list-group-item">Tareas</a>
  <a href="{% url 'tag-list' %}" class="list-group-item">Tags</a>
</div>
{% endblock %}
