{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Listar Projects | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active" >projects</li>
  </ol>
  <h1>Projects</h1>
  <ul>
      {% for project in object_list %}
      <li><a href="{{ project.get_absolute_url }}">{{ project.titulo }}</a>
      <span class="badge">{{project.tareas.all.count}}</span>
      </li>
      {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">Listar</a>
  <a href="{% url 'project-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
