{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Tags  | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li> <a href="/projects">projects</a></li>
    <li class="active">{{ project.titulo }}</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1>{{ project.titulo }}</h1>
      <p><b>descripcion:</b> {{ project.descripcion }}</p>
      <p><b>creada el</b> {{ project.creado_en | date:'d/m/Y H:i' }} por <span class="text-primary">{{ project.creado_por.username }}</span></p>
      <p><b>fecha final:</b> {{ project.fecha_final | date:'d/m/Y H:i' }}</p>
      <p><b>tags:</b><br>
      {% for tag in project.tags.all %}
        <a href="{{ tag.get_absolute_url }}"><span class="label label-primary">{{ tag.titulo }}</span></a>
      {% endfor %}

      <p><b>tareas:</b><br>
      <div class="list-group">
      {% for tarea in project.tareas.all %}
        {% if tarea.estado == "Todo" %}
          <li class="list-group-item list-group-item-warning">
        {% elif tarea.estado == "Doing" %}
          <li class="list-group-item list-group-item-info">
        {% elif tarea.estado == "Done" %}
          <li class="list-group-item list-group-item-success">
        {% endif %}
        <a href="{{ tarea.get_absolute_url }}">{{ tarea.titulo }}
        </a></li>
      {% endfor %}
      </div>

      </p>
    </div>
  </div>
  {% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'project-list' %}" class="list-group-item">Listar</a>
  <a href="{% url 'project-update' project.id %}" class="list-group-item">Editar</a>
  <a href="{% url 'project-delete' project.id %}" class="list-group-item">Eliminar</a>
  <a href="{% url 'project-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
