{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Listar Tags | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active" >tags</li>
  </ol>
  <h1>Tags</h1>
  <ul>
      {% for tag in object_list %}
      <li><a href="{{ tag.get_absolute_url }}">{{ tag.titulo }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">Listar</a>
  <a href="{% url 'tag-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
