{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Tags  | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li> <a href="{% url 'tag-list' %}">tags</a></li>
    {% if tag %}
    <li> <a href="{% url 'tag-detail' tag.id %}">{{tag.titulo}}</a></li>
    <li class="active">editar</li>
    {% else %}
    <li class="active">crear</li>
    {% endif %}
  </ol>

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "ok" %} Submit
    </button>
  {% endbuttons %}
</form>

{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">Editar</a>
  <a href="{% url 'tag-list' %}" class="list-group-item">Listar</a>
  {% if tag %}
  <a href="{% url 'tag-delete' tag.id %}" class="list-group-item">Eliminar</a>
  {% endif %}
  <a href="{% url 'tag-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
