{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Tags  | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li> <a href="/tags">tags</a></li>
    <li class="active">{{ tag.titulo }}</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1>{{ tag.titulo }}</h1>
      <p><b>creado en:</b> {{ tag.creado_en | date:'d/m/Y H:i' }}</p>
    </div>
  </div>

  <h2>Tareas con esta etiqueta:</h2>
  {% for tarea in tarea_list %}
      <li><a href="{{ tarea.get_absolute_url }}">{{ tarea.titulo }}</a></li>
      {% endfor %}
  {% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'tag-list' %}" class="list-group-item">Listar</a>
  <a href="{% url 'tag-update' tag.id %}" class="list-group-item">Editar</a>
  <a href="{% url 'tag-delete' tag.id %}" class="list-group-item">Eliminar</a>
  <a href="{% url 'tag-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
