{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Tags  | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li> <a href="/tareas">tareas</a></li>
    <li class="active">{{ tarea.titulo }}</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1>{{ tarea.titulo }}</h1>
      <p><b>descripcion:</b> {{ tarea.descripcion }}</p>
      <p><b>creada el</b> {{ tarea.creado_en | date:'d/m/Y H:i' }} por <span class="text-primary">{{ tarea.creado_por.username }}</span></p>
      <p><b>fecha final:</b> {{ tarea.fecha_final | date:'d/m/Y H:i' }}</p>
      <p><b>tags:</b><br>
      {% for tag in tarea.tags.all %}
        <a href="{{ tag.get_absolute_url }}"><span class="label label-primary">{{ tag.titulo }}</span></a>
      {% endfor %}

      </p>
    </div>
  </div>
  {% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="{% url 'tarea-list' %}" class="list-group-item">Listar</a>
  <a href="{% url 'tarea-update' tarea.id %}" class="list-group-item">Editar</a>
  <a href="{% url 'tarea-delete' tarea.id %}" class="list-group-item">Eliminar</a>
  <a href="{% url 'tarea-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
