{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Eliminar tarea '{{ tarea.titulo }}' | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li> <a href="{% url 'tarea-list' %}">tareas</a></li>
    <li class="active">{{ tarea.titulo }}</li>
  </ol>

<form action="" method="post">
    {% csrf_token %}
    <p>Estas seguro de querer eliminar "{{ object }}"?</p>
    <input type="submit" class="btn btn-danger" value="Confirmar" />
</form>

{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">Eliminar</a>
  <a href="{% url 'tarea-update' tarea.id %}" class="list-group-item">Editar</a>
  <a href="{% url 'tarea-list' %}" class="list-group-item">Listar</a>
  <a href="{% url 'tarea-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
