{% extends "base.html" %}
{% load bootstrap3%}
{% block title %}Listar Tags | ImaginaTodo{% endblock %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active" >tareas</li>
  </ol>
  <h1>Tareas</h1>
  <ul>
      {% for tarea in object_list %}
      <li><a href="{{ tarea.get_absolute_url }}">{{ tarea.titulo }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
<div class="list-group">
  <a href="#" class="list-group-item disabled">Listar</a>
  <a href="{% url 'tarea-add' %}" class="list-group-item">Crear</a>
</div>
{% endblock %}
